{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Morbus Lytic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href={% static "style.css" %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body style="font-family: Georgia, 'Times New Roman', Times, serif;">

  {% include "navbar.html" %}

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">

        <!-- lungheader01 -->
        <img src={% static "images/lungheader01.jpg" %} alt="Image" class="carousal-image">
        <div class="carousel-caption" style="color: black;">
          <h3>Where Insights Mingle Breath!</h3>
          <!-- <p>Money Money.</p> -->
        </div>
      </div>

      <div class="item">

        <!-- lungbggood02 -->
        <img src={% static "images/lungbggood02.jpg" %} alt="Image" class="carousal-image">
        <div class="carousel-caption" style="color: black;">
          <h2>A handy tool for modern doctors!</h2>
          <p><h3>Because 'it' doesn't wait...</h3></p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container text-center">
    <h3>PNEUMOTHORAX- Many of us are hearing it for the first time. In clinical field, detection of
      Pneumothorax often goes unnoticed, particularly, the exact location for treatment.</h3><br>
    <div class="col-sm-6">
      <div class="well" style="width: 100%; font-size: large;">
        <p>Pneumothorax is a medical condition characterized by air entering into the pleural space, which is the
          space between the lung and the chest wall. This condition can lead to partial or complete collapse of the
          affected lung. The pleural space is generally a thin fluid-filled space that helps the lungs expand and
          contract during breathing.

          The presence of air can disrupt the normal pressure balance between the lungs and the chest wall. This
          imbalance can cause the lung to collapse, leading to respiratory difficulties and other symptoms.
        </p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="well" style="font-size: large;">
        <p>The incidence of PSP in males is observed to be 7.4 per 100,000 population per year in the United States.
          The incidence in females is observed as 1.2 per 100,000 population per 100,000 population per year in the
          United Kingdom. The reason for these geographic differences is unknown. Another hospital database study of
          emergency department visits from January 2008 to December 2014 reported that 79 percent of pneumothorax
          cases were males and 21 percent were females.
          <br>
          <br>
        </p>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-4">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Current Project</p>
        </div>
        <div class="col-sm-4">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
          <p>Project 2</p>
        </div> -->
  </div>
  </div><br>



  <footer class="container-fluid text-center" id="footer">
    <p>
    <h3>Join Us For Spreading Awareness Campaign!</h3>

    </p>
  </footer>

</body>

</html>